.octopus {
	position: fixed;
    margin-left: 300px;
    margin-top: 70px;    
    z-index:1;
}
.hat{
	position: absolute;
	margin-left: 290px;
	 z-index:3;
}
.glasses{
	position: absolute;
	margin-left: 340px;
    margin-top: 170px;
	z-index:2;
}
